---
title: {{`.bookTitle`}} // ‘title: The Artist's Way - 25th Anniversary Edition’
author: {{`.authors`}} // ‘author: Julia Cameron’
---
# {{`.bookTitle`}} // ‘# The Artist's Way - 25th Anniversary Edition’
by [[{{`.authors`}}]] // ‘by Julia Cameron’

## Highlights
{{% for sectionHeading in allSectionHeadings %}}### {{`.sectionHeading`}} // ‘### Week 1: Recovering a Sense of Safety’
{{% for noteHeading in allNoteHeadings %}}{{% if `.noteHeading` contains “Highlight”}}From {{`.bookTitle`}} by {{`.authors`}} - *{{`.noteHeading` | filtered }}*: // ‘From The Artist's Way - 25th Anniversary Edition by Julia Cameron - *Shadow Artists*:’
> {{`.noteText`}} // ‘> Nothing has a stronger influence psychologically on their environment and especially on their children than the unlived life of the parent. C. G. JUNG’{{% endif %}}
{{% else if `.noteHeading` contains “Note”}}
{{`.noteText`}} // ‘Unfortunately this really rings true for me’
{{% endif %}}{{% endfor %}}{{% endfor %}}